.footer > * {
	min-height: 3rem;
	display: flex;
	align-items: center;
}

.footer > *:first-child {
	border-bottom: 1px solid #3c4043;
	padding: 0.9375rem 1.875rem;
}

.locationrow {
	padding: 0.8rem 2rem;
	justify-content: flex-start;
	gap: 0.8rem;
}

.footernav {
	padding: 0.8rem 2rem;
	justify-content: column;
	gap: 0.8rem;
}

.footernav > * {
	display: flex;
	justify-content: space-evenly;
	gap: 1rem;
	flex-wrap: wrap;
}

@media (width > 51rem) {
	.footernav {
		padding: 0 3.25rem;
		flex-direction: row;
		justify-content: space-between;
	}
}